{% extends 'contacts/base/base.html' %}
{% load static %}

{% block title %}All Contacts{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'contacts/styles/contacts-details.css' %}">
{% endblock %}

{% block main_heading %}
Contacts
{% endblock %}

{% block header_content %}
<p>Current Contact List</p>
{% endblock %}

{% block body %}
<article>
    <section id="registration">
        <h2>New Contact</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <div id="registration-actions">
                <button type="submit" class="btn btn-success btn-lg">Add Contact</button>
            </div>
        </form>
    </section>
    
</article>
{% endblock %}